body{
background-color: black;
margin: ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

header{}
background-color: brown;
align-items: center;
justify-content: space-between;
padding: ;

h1{}



input{

}


button{

}
    
