body{
background-color: rgb(24, 167, 79);
margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
background-color: brown;
align-items: center;
justify-content: space-between;
padding: 20px; ;
display: flex;
}
h1{
color: aliceblue;
font-size: 30px;
}

input{
width: 400px;
height: 30px;
}

button{
background-color: aquamarine;
width: 150px;
    border-radius: 30px;
}
main{
padding: 100px;
margin: 20px;
background-color: blue;
border-radius: 10px;
}
section{
display: flex;
align-items: center;
justify-content: space-around;color: rgb(243, 249, 255);
margin: 20px;

padding: 30px;
}
p{width: 400px;

}
img{width: 400px;
}
section button{
    background-color: azure;
    color: black;
    height: 100px;
    width: 250px;;
    font-size: 30px;
}
    footer{
        height: 100px;
        align-items: center;
        justify-content: center;
        background-color: antiquewhite;

    }
    h2[{ 
        color: blueviolet;
        font-size: 30px;

    }
        
    

    