body{
background-color: black;
margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
background-color: brown;
align-items: center;
justify-content: space-between;
padding: 20px; ;
display: flex;
}
h1{
color: aliceblue;
font-size: 30px;
}

input{
width: 400px;
height: 100px;
}

button{
background-color: aquamarine;
width: 150px;
    border-radius: 30px;
}